{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Symbol</th>
                    <th scope="col">Name</th>
                    <th scope="col">Shares</th>
                    <th scope="col">Price</th>
                    <th scope="col">TOTAL</th>
                </tr>
            </thead>
           <tbody>
                {% if owned_shares %}
                    {% for share in owned_shares %}
                    <tr>
                        {% for v in share.values() %}
                        <td>{{v}}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                {% endif %}
                <tr>
                    <td>CASH</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{cash}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><b>{{total}}</b></td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
